@media screen and (max-width: 1024px) {
  i {
    font-size: 5rem;
  }
}
@media screen and (max-width: 896px) {
  i {
    font-size: 3rem;
  }
}
@media screen and (max-width: 480px) {
  i {
    font-size: 1rem;
  }
}
